# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
data.shape

(33702, 8)

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
display(data['Salary or Hourly'].value_counts(dropna=False))

Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
display(data['Department'].value_counts(dropna=False))

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [8]:
# H0 - The hourly wage of all hourly workers is = $30/hr.
# H1 -The hourly wage of all hourly workers is <> $30/hr.

import scipy.stats

hourly_data = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

confidence_level = 0.95

degrees_freedom = len(hourly_data) - 1

sample_mean = np.mean(hourly_data)

sample_standard_error = scipy.stats.sem(hourly_data)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [9]:
np.std(hourly_data)/np.sqrt(degrees_freedom)

0.14694742867989846

In [10]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

In [11]:
sample_standard_error

0.14694742867989574

In [12]:
(34.29839539204317 + 34.874504045196865) /2

34.58644971862002

In [13]:
from scipy.stats import ttest_1samp

stat, pval = scipy.stats.ttest_1samp(hourly_data, 30)
print('stat is:   ', stat,'\n')
print('pvalue for the two-tailed test is:  ', pval)

stat is:    31.211500329216044

pvalue for the two-tailed test is:   3.825475847673794e-202

In [14]:
if pval < 0.05:
    print('The hourly wage is <> $30/hr.')
else:
    print('There is not enough evidence to reject the hypothesis.')

The hourly wage is <> $30/hr.

In [15]:
# (H1) The hourly wage of all hourly workers is <> $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [16]:
# H0 - The average salary in the police department is <= $86,000/year.
# H1 - The average salary in the police department is > $86,000/year (one-sided test).

police_sal = data[(data['Department'] == 'POLICE') & (data['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

confidence_level = 0.95

degrees_freedom = len(police_sal) - 1

sample_mean = police_sal.mean()

sample_standard_error = scipy.stats.sem(police_sal)


confidence_interval = scipy.stats.t.interval(confidence_level,   
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)


print('Sample mean salary:', sample_mean, '\n')
print('Confidence interval:', confidence_interval)

Sample mean salary: 88834.11892361111

Confidence interval: (88534.1182885883, 89134.11955863392)

In [17]:
stat, pval = scipy.stats.ttest_1samp(police_sal, 86000)

print('stat is:   ', stat,'\n')
print('pvalue for the two-tailed test is:  ', pval)

stat is:    18.51748561981861

pvalue for the two-tailed test is:   1.2239133904242963e-75

In [18]:
# (for one-sided test)
if pval/2 < 0.05 and stat > 0:
    print("Salaries are > $86000/year.")
else:
    print("Not enough evidence.")

Salaries are > $86000/year.

In [19]:
# Which means - (H1) The average salary in the police department is > $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [20]:
import scipy.stats as st

dept_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'])

In [21]:
# count of hourly workers
h_count = dept_crosstab['Hourly']

# department with the most hourly workers
most_hourly_dept = h_count.idxmax()

print(f"The department that has the most hourly workers: {most_hourly_dept}")

The department that has the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [22]:
# H0 - The average hourly wage in the department with the most hourly workers is >= $35/hour.
# H1 - The average hourly wage in the department with the most hourly workers is < $35/hour.

hourly_wages_dept = data[(data['Department'] == most_hourly_dept) & (data['Salary or Hourly'] == 'Hourly')]['Hourly Rate'].dropna()

confidence_level = 0.95

stat, pval = st.ttest_1samp(hourly_wages_dept, 35)

print('stat is:   ', stat,'\n')
print('pvalue for the two-tailed test is:  ', pval)

stat is:    4.000138803968834

pvalue for the two-tailed test is:   6.580474443773579e-05

In [23]:
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  3.2902372218867895e-05

In [24]:
if pval/2 < (1 - confidence_level):
    print("The average hourly wage is < $35/hour.")
else:
    print("Not enough evidence to say that the average hourly wage is < $35/hour.")

The average hourly wage is < $35/hour.

In [25]:
# margin of error for the mean
margin_of_error = st.sem(hourly_wages_dept) * stat

print('Margin of error:', margin_of_error)

Margin of error: 0.5522968580715002

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [26]:
hourly_wages = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

confidence_level = 0.95

degrees_freedom = len(hourly_wages) - 1

sample_mean = hourly_wages.mean()
sample_standard_error = st.sem(hourly_wages)

confidence_interval = st.t.interval(confidence_level,   
                                    degrees_freedom, 
                                    sample_mean, 
                                    sample_standard_error)

print(f"Confidence Interval: {confidence_interval}")

Confidence Interval: (34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [27]:
police_sal = data[(data['Department'] == 'POLICE') & (data['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

confidence_level = 0.95

degrees_freedom = len(police_sal) - 1

sample_mean = police_sal.mean()
sample_standard_error = st.sem(police_sal)

confidence_interval = st.t.interval(confidence_level,   
                                    degrees_freedom, 
                                    sample_mean, 
                                    sample_standard_error)

print(f"Confidence Interval: {confidence_interval}")

Confidence Interval: (88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [28]:
# Your code here: